@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,400;1,700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.8;
  color: gray;
}

h1 {
  color: black;
  font-size: 2.3rem;
}
